/* #region Genaral */

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
:root {
  --color-bg: #fbfbfb;
  --color-white: #fff;
  --color-black: #000;

}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

}

body, p, a, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-style: normal;
  font-weight: 100;
  background-color: var(--color-bg);
  color: var(--color-black);
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 1.4rem;
  font-family: 'artifakt-medium', sans-serif;
  display: block;
}

button {
  background: none;
  text-align: center;
}

li {
  list-style: none;
}

/* #endregion Genaral */
